#burger-checkbox {
    display: none;
}



#burger-checkbox:checked ~ .header__menu-media {
    display: block;
}

.header__menu-media {
    display: none;
}

.burger-icon {
    display: block;
    font-size: 2rem;
    margin-right: 0;
    cursor: pointer;
}



@media (min-width: 1200px) {
    .burger-icon {
        display: none;
    }

    .header__menu-media {
      display: flex;
    }
    
  
}
