.contacts__container {
    background-color: rgb(33 33 33);
}

.contacts__header {
    font-family: 'Istok Web', sans-serif;
    color: var(--red-text-color);
    font-size: 12px;
    font-weight: 700;
    padding: 90px 0px 30px 0px;
}

.contacts__about {
    padding: 0px 25px 0px 25px;
}

.contacts__article {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 25px;
}

.contacts__text-contact-us {
    font-size: 19px;
    font-weight: 400;
    color: var(--white-color);
}

.contacts__advertisment-about-us {
    font-size: 17px;
    font-weight: 400;
    color: var(--footer-light-grey-color);
    margin-top: 25px;
}

.contacts__form {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 700;

}

.contacts__form-link {
    text-decoration: none;
    color: var(--white-color)
}

.contacts__form-link:active {
    text-decoration: underline;
}

.contacts__form-link:hover {
    color: var(--white-color);
}

.contacts__info {
    margin: 0px 25px 0px 25px;
}

.contacts__address,
.contacts__phone,
.contacts__schedule,
.contacts__email {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: var(--white-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts__text-address,
.contacts__text-hours {
    color: var(--footer-light-grey-color);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contacts__hours {
    font-weight: 700;
}

.contacts__text-phone {
    margin-bottom: 20px;
}

.contacts__text-email {
    margin-bottom: 70px;
}

.contacts__phone-link,
.contacts__email-link {
    text-decoration: none;
    color: var(--footer-light-grey-color);
    font-size: 17px;
    font-weight: 400;
}

.contacts__phone-link:active,
.contacts__email-link:active {
    text-decoration: underline;
}

.contacts__phone-link:hover,
.contacts__email-link:hover {
    color: var(--footer-light-grey-color);
    text-decoration: underline;
}

.footer__dividing-line {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid var(--white-color);
    height: 1px;
    opacity: .2;

}

.address-logo,
.phone-logo,
.hours-logo,
.email-logo {
    width: 50px;
}

.footer__slogan {
    margin-top: 70px;
    padding: 0px 25px 0px 25px;
}

.footer-logo {
    width: 210px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.footer__text-slogan {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-light-grey-color);
}

.banks-logo {
    margin-bottom: 50px;
    display: block;
    width: 270px;
}

.nav-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: var(--white-color);
    text-align: center;
}

.long-line {
    width: 41px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 3px var(--red-text-color) solid;
    ;
}

.footer__text-link {
    text-decoration: none;
    color: var(--footer-light-grey-color);
    font-size: 17px;
    font-weight: 700;
    display: block;
    text-align: center;
}

.footer__text-link:active {
    text-decoration: underline;
    color: var(--white-color);
}

.footer__text-link:hover {
    text-decoration: underline;
    color: var(--white-color);
}

.for-travellers-text {
    margin-top: 50px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: var(--white-color);
    text-align: center;
}

.footer__inst {
    margin-bottom: 30px;
}

.footer__inst-text {
    margin-top: 50px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: var(--white-color);
    text-align: center;
}

.footer__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 10px 0 10px;
}

.footer__gallery-img {
    flex-direction: column;
    flex: 45%;
}

.footer__text-rights {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    padding-top: 20px;
}

.footer__social-links {
    margin-top: 30px;
    text-align: center;
}

.footer__icon-social-links {
    width: 14%;
    display: inline-block;
    gap: 20px;
    padding: 0 5px 0 5px;
}

@media (min-width: 768px) {
    .contacts__article {
        font-size: 39px;
    }

    .contacts__about {
        width: 50%;
    }

    .contacts__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        left: 600px;
        bottom: 420px;
    }

    .footer-logo {
        text-align: left;
        margin: 0;
    }

    .footer__text-slogan {
        text-align: left;
    }

    .banks-logo {
        width: 243px;
        padding: 0;
    }

    .footer__general-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer__text-link {
        font-size: 15px;
    }

    .footer__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer__end {
        display: flex;
        flex-direction: row;
    }

    .footer__icon-social-links {
        width: 45px;
        position: relative;
        left: 570px;
        bottom: 20px;
    }
}