#gallery {
    padding-bottom: 80px;
}

.our-gallery__header {
    color: var(--red-text-color);
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;
}

.our-gallery__subheading {
    color: var(--black-color);
    font-family: "Ubuntu";
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}

.our-gallery__about-london {
    color: var(--dark-grey-text-color);
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery__photo-min-width-991 {
    display: none;
}

.gallery__photo-max-width-990 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 0 20px;
}
.mobile-images__gallery-photo {
    margin: 25px 0;
}

@media (min-width: 991px) {
    .our-gallery__header {
        font-size: 13px;
    }

    .our-gallery__subheading {
        font-size: 44px;
    }

    .gallery__photo-max-width-990 {
        display: none;
    }

    .gallery__photo-min-width-991 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
        padding: 0 20px;
    }

    .desktop-images__gallery-photo {
        margin: 25px 0;
    }
}

@media (min-width: 767px) {
    .our-gallery__subheading {
        font-size: 39px;
    }
}