 
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/header/headerbackground.png) center/cover no-repeat;
    height: 100vh;
  }
    
  .header__nav {
    color: black;
    font-weight: 700;
  }
  
  .nav__top {
    height: 45px;
    background-color: var(--background-color-lightgrey);
  }
  
  .nav__top-container {
    line-height: 45px;
  }

  .top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 500px) {
    .nav__top {
      display: none;
    }
  }

  .top__mail-link {
    color: black;
    padding: 10px;
    text-decoration: none;
  }
  
  .top__phone-link {
    color: black;
    margin-right: 20px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .nav__bottom {

    height: 100vh;  
    background-color: var(--white-color);
  }

  @media (min-width: 1200px) {
    .nav__bottom {
      height: 92px;
    }
  }

  .nav__bottom-container {
    line-height: 92px;
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: 1200px) {
    .bottom-container {
      align-items: center;
    }
  }

  .london-logo {
    display: block;
    width: 165px;
    padding-top: 20px;       
  }
    
  @media (min-width: 1200px) {    
    .london-logo {
      padding-top: 0;    
    }
  }

  .header__menu-media {
    display: block;
  }
  
  @media (min-width: 1200px) {
    .header__menu-media {
      display: flex;
    }  
  }

  @media (min-width: 1200px) {
    .bottom-list {
      display: flex;
      list-style: none;
    }
  }

  .list__item {
    display: block;
    margin: 0 10px;
    text-align: center;
  }
  
  .list__link {
    display: inline-block;
    position: relative;
    color: black;
    padding: 0 10px;
    text-decoration: none;
  }
  
  .list__link::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(10, 10, 10);
    transition: width .3s ease-in-out;
    bottom: 0;
    left: 0;
  }

  .list__link:hover::after {
    width: 100%;
  }

  .top__phone-box {
    display: flex;
  }
  
  .nav__bottom-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons__item {
    display: flex;
    align-items: center;
  }

  .icon__link {
    display: block;
    margin-left: 15px;
    font-size: 27px;
    text-decoration: none;
    color: rgb(220, 52, 52);
  }

  .header__content {
    position: absolute;
    left: -125px;
    top: 0;
    transform: scale(0.5);
  }

  @media (min-width: 1200px) {
    .header__content {
      display: flex;
      flex-direction: row;    
      align-items: center;
      flex: 2;
      color: beige;
      position: static;
      transform: scale(1);
    }  
  }

  .content__block {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    max-width: 500px;
    padding: 50px;
    background-color: rgba(23, 23, 23, 0.6);
  }

  @media (min-width: 1200px) {
    .content__block {
      margin-left: -600px;
    }
  }

  .content__text {
    line-height: 35px;
  }
  
  .content__button {
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--red-color);
    border-radius: 3px;
    color: white;
    font-size: 16px;
  }
  
  .content__name,
  .content__text,
  .content__button {
    margin-bottom: 50px;
  }

  
  