.places-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.places-title {
    text-align: center;
    padding: 20px;
}
.places__header {
    color: var(--red-text-color);
    font-weight: bold;
    font-size: 12px;
    line-height: 18.48px;
}
.places__subtitle {
    color: var(--subtitle-grey-color);
    font-weight: bold;
    font-size: 28px;
    line-height: 36.4px;
}
.motto {
    color: var(--subtitle-grey-color);
    font-size: 19px;
    line-height: 26.03px;
}
.museum-title {
    color: var(--subtitle-grey-color);
    font-size: 22px;
    text-align: center;
}
.museum-description {
    color: var(--light-grey-text-color);
}
.read-more-places {
    color: var(--red-text-color);
    font-size: 12px;
    line-height: 18.48px;
    font-weight: 700;
}
.places__carousel {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
    max-height: 50%;
    margin:auto;
    text-align: center;
}

.places-carousel__btn-prev {
    margin-left: 20%;
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
}
.places-carousel__btn-next {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    margin-right: 20%;
}