/* .places-carousel {
    display: flex;
    flex-direction: row;
} */
.places-title {
    text-align: center;
    padding: 20px;
}
.places__header {
    color: var(--red-text-color);
    font-weight: bold;
    font-size: 12px;
    line-height: 18.48px;
}
.places__subtitle {
    color: var(--subtitle-grey-color);
    font-weight: bold;
    font-size: 28px;
    line-height: 36.4px;
}
.motto {
    color: var(--subtitle-grey-color);
    font-size: 19px;
    line-height: 26.03px;
}
.museum-title {
    color: var(--subtitle-grey-color);
    font-size: 22px;
    text-align: center;
}
.museum-description {
    color: var(--light-grey-text-color);
}
.read-more-places {
    color: var(--red-text-color);
    font-size: 12px;
    line-height: 18.48px;
    font-weight: 700;
}
.places__carousel {
    /* display: flex; */
    width: 30%;
    margin:auto;
    text-align: center;
    min-height: 915px;
    /* flex-direction: row; */
}
.places-carousel__btn-prev {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--red-text-color);
    border-color: var(--red-text-color);
    border-radius: 50%;
}
.places-carousel__btn-next {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: var(--red-text-color);
    border-color: var(--red-text-color);
    border-radius: 50%;
}