#team {
    background-color: var(--background-color-lightgrey);
    padding-bottom: 70px;
}

.our-team__header {
    color: var(--red-text-color);
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;
}

.our-team__subheading {
    color: var(--black-color);
    font-family: "Ubuntu";
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
}

.our-team__guides {
    color: var(--dark-grey-text-color);
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team__button {
    width: 25px;
}
/*
#carouselExampleControls>carousel-inner>carousel-item {
    display: flex;
    flex-direction: column;
}
*/
.lydia_mason {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.lydia_mason__general {
    background-color: var(--white-color);
    padding: 30px 25px 30px 25px;
}

.lydia_mason__photo {
    width: 100%;
}

.team__icon-location {
    width: 100%;
    height: 100%;
    width: 25px;
}

.team__icon-phone-call {
    width: 25px;
}

.lydia_mason__name {
    font-family: "Ubuntu";
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

.team__line {
    border-bottom: 3px solid var(--red-text-color);
    width: 10%;
}

.lydia_mason__position {
    padding-top: 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: var(--dark-grey-text-color);
}

.lydia_mason__profile-past,
.lydia_mason__profile-now {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: var(--light-grey-text-color);
}

.team__container-location,
.team__container-phone {
    display: flex;
}

.team__container-location {
    padding-top: 40px;
    padding-bottom: 15px;
}

.lydia_mason__tours,
.team__contacts {
    padding-left: 10px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-grey-text-color);
    text-decoration: none;
}

.leah_marsden {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.leah_marsden__general {
    background-color: var(--white-color);
    padding: 30px 25px 30px 25px;
}

.leah_marsden__photo {
    width: 100%;
}

.leah_marsden__name {
    font-family: "Ubuntu";
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

.leah_marsden__position {
    padding-top: 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: var(--dark-grey-text-color);
}

.leah_marsden__profile-past,
.leah_marsden__profile-now {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: var(--light-grey-text-color);
}

.leah_marsden__tours {
    padding-left: 10px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-grey-text-color);
    text-decoration: none;
}

.bailey_lawson {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
}

.bailey_lawson__general {
    background-color: var(--white-color);
    padding: 30px 25px 30px 25px;
}

.bailey_lawson__photo {
    width: 100%;
}

.bailey_lawson__name {
    font-family: "Ubuntu";
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

.bailey_lawson__position {
    padding-top: 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: var(--dark-grey-text-color);
}

.bailey_lawson__profile-past,
.bailey_lawson__profile-now {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: var(--light-grey-text-color);
}

.bailey_lawson__tours {
    padding-left: 10px;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-grey-text-color);
    text-decoration: none;
}

@media (min-width: 767px) {
    .our-team__subheading {
        font-size: 39px;
    }

    .lydia_mason__name,
    .leah_marsden__name,
    .bailey_lawson__name {
        font-size: 27px;
    }
}

@media (min-width: 768px) {    
    .lydia_mason {
        flex-direction: row;
    }

    .lydia_mason__container-photo,
    .lydia_mason__general {
        flex: 50%;
    }
    .flex-column > .lydia_mason__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 60% 40%;
    }

    .lydia_mason__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 60% 40%;
    }

    .team__button {
        width: 30px;
    }

    .leah_marsden {
        flex-direction: row;
    }

    .leah_marsden__container-photo,
    .leah_marsden__general {
        flex: 50%;
    }

    .leah_marsden__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .bailey_lawson {
        flex-direction: row;
    }

    .bailey_lawson__container-photo,
    .bailey_lawson__general {
        flex: 50%;
    }

    .bailey_lawson__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media (min-width: 991px) {
    .our-team__header {
        font-size: 13px;
    }

    .our-team__subheading {
        font-size: 44px;
    }

    .lydia_mason__name,
    .leah_marsden__name,
    .bailey_lawson__name {
        font-size: 30px;
    }

    .lydia_mason__position,
    .leah_marsden__position,
    .bailey_lawson__position {
        font-size: 15px;
    }
}