.section__tours {
    background-color: var(--background-color-lightgrey);
}
.section__tours .tours__about-london {
    display: flex;
    flex-direction: column;
    padding: 90px 30px;
    gap: 40px;
}
.section__tours .tours__about-london .tours__info-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section__tours .tours__about-london .tours__info-block .tours__section-name {
    color: var(--red-text-color);
    font-weight: bold;
    font-size: small;
}

.section__tours .tours__about-london .tours__info-block .tours__info-text-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.section__tours .tours__about-london .tours__info-block .tours__info-text-block .tours__topic-name {
    color: var( --black-color);
    font-weight: bold;
    font-size: xx-large;
    text-align: left;
    font-family: "Ubuntu";
}

.section__tours .tours__about-london .tours__info-block .tours__info-text-block .about-london_question {
    color: var(--dark-grey-text-color);
}

.tours__common-text {
    color: var(--light-grey-text-color);
}

.section__tours .tours__about-london .tours__info-block .tours__info-calls-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
.section__tours .tours__about-london .tours__info-block .tours__info-calls-block .tours__phone-icon {
    background-color: var(--white-color);
    padding: 15px;
    border-radius: 50%;   
}

.section__tours .tours__about-london .tours__info-block .tours__info-calls-block .phone-icon {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__tours .tours__about-london .tours__info-block .tours__info-calls-block .tours__info-phone-num-block {
display: flex;
flex-direction: column;
gap: 5px;
justify-content: center;
}

.section__tours .tours__about-london .tours__info-block .tours__info-calls-block .tours__info-phone-num-block .book_tour_now {
    font-size: small;
}

.section__tours .tours__about-london .tours__info-block .tours__info-calls-block .tours__info-phone-num-block .tours__info-phone-num {
    text-decoration: none;
    display: inline-block;
    color: var(--black-color);
    font-weight: bold;
}

.section__tours .tours__restaurants-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.section__tours .tours__restaurants-block .tours__previous-arrow,
.section__tours .tours__restaurants-block .tours__next-arrow{
width: 64px;
}

.section__tours .tours__restaurants-block .tours__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tour__title-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.tour-text-block {
    display: flex;
    flex-direction: column;
}

.tour-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.tour-divide-line {
    color: rgba(141, 141, 141, 0.36); 
    font-size: 18px
}
.tour-price {
    font-weight: bold; 
    color: #d51f48;
    font-size: 18px;
}

.tour-title {
    color: var(--dark-grey-text-color);
    font-size: 18px;
    font-family: "Ubuntu";
}

.tour-img img{
border-radius: 50%;
width: 128px;
}
